p { /*modifica todos los que tengan la etiqueta p */
    color: rgba(26, 5, 5, 0.411)0, 131, 10);
    width: 500px;
    border: 1px solid black;
}
li { /*modifica todos los que tengan la etiqueta p */
    color: rgba(226, 37, 53, 0.658);
    width: 500px;

}

